<h1>Hacker News Stories</h1>

<div id="search-container">
  <mat-form-field appearance="outline">
    <mat-label>Search for a title that interests you</mat-label>
    <input matInput
           [(ngModel)]="searchText"
           (keyup)="onSearchFieldChange()">
  </mat-form-field>
</div>

<div class="list-container">
  <ng-container *ngIf="!isInitLoadCompleted">
    <div id="loading-container">
      <h1>Grabbing the latest news...</h1>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-container>

    <mat-list *ngIf="isInitLoadCompleted && dataSource.totalStories > 0">
      <mat-list-item *ngFor="let story of dataSource.stories">
        <a href="{{story.url}}" target="_blank">{{story.title}}</a>
      </mat-list-item>
    </mat-list>

    <ng-container *ngIf="isInitLoadCompleted && dataSource.totalStories === 0">
      <h3>No results</h3>
    </ng-container>

  <ng-container *ngIf="isInitLoadCompleted">
    <mat-paginator [length]="dataSource.totalStories"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="[15, 35, 100, 200]"
                   (page)="onPageChange($event)"
                   aria-label="Select page"
                   showFirstLastButtons>
    </mat-paginator>
  </ng-container>
</div>