:host {
  display: grid;
  grid-template-columns: auto 75% auto;
  grid-auto-rows: auto 80% max-content;
  grid-template-areas: 
  ". search ."
  ". stories ."
  ". paginator .";
  width: 100%;
  height: 100%;
}

#search-container {
  grid-area: search;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  h1 {
    margin: 0;
    padding: 0;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: -1.25em;
  }
}

#story-container {
  grid-area: stories;
  display: flex;
  width: 100%;
  flex-direction: column;

  span {
    padding-left: 16px;
    color: grey;
  }

  mat-list {
    width: 100%;
    overflow-y: auto;

    mat-list-item {
      height: 24px;
    }
  }
}

#loading-container {
  grid-area: stories;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#paginator-container {
  grid-area: paginator;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 1024px) {
  :host {
    grid-template-columns: auto 95% auto;
  }

  #story-container {
  grid-area: stories;
  display: flex;
  width: 100%;
  height: 100%;

    mat-list {
      width: 100%;
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
      overflow-y: scroll;

      mat-list-item {
        height: 36px;
      }
    }

    mat-list::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
  }
}