<div id="search-container">
  <h1>Hacker News Stories</h1>
  <mat-form-field appearance="outline">
    <mat-label>Search for a title that interests you</mat-label>
    <input matInput
           [(ngModel)]="searchText"
           [disabled]="!isInitLoadCompleted"
           (keyup)="onSearchFieldChange()">
  </mat-form-field>
</div>

<div id="story-container">
  <ng-container *ngIf="!isInitLoadCompleted">
    <div id="loading-container">
      <h1>Grabbing the latest news...</h1>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-container>

    <mat-list *ngIf="isInitLoadCompleted && dataSource.totalStories > 0">
      <mat-list-item *ngFor="let story of dataSource.stories">
        <a href="{{story.url}}" target="_blank">{{story.title}}</a>
      </mat-list-item>
    </mat-list>

    <ng-container *ngIf="isInitLoadCompleted && dataSource.totalStories === 0">
      <h3>No results</h3>
    </ng-container>
</div>

<div id="paginator-container">
<ng-container *ngIf="isInitLoadCompleted">
  <mat-paginator [length]="dataSource.totalStories" [pageSize]="pageSize" [pageIndex]="pageIndex"
    [pageSizeOptions]="[10, 25, 50, 100]" (page)="onPageChange($event)" aria-label="Select page" showFirstLastButtons>
  </mat-paginator>
</ng-container>
</div>